* {
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: rgb(66,63,63);
  border-bottom: 1px solid transparent;
  /*display:inline-block;*/
}

a:-webkit-any-link {
  cursor: auto;
}

.grid-sizer,
.grid-item {
  float: left;
  width: 33.33%;
  opacity: 0;
  background-color: black;
}

.grid {
  max-width: 100%;
  width: 100% !important;
}
/* clearfix */
.grid:after {
  conten`t: '';
  display: block;
  clear: both;
}
.col-md-6{
  padding:0px !important;
}
.img-responsive{
  width: 100%;
  height: auto;
  display:block;
}

.intro {
  margin-right: 100px;
}

a:hover {
  border-bottom: 1px solid lime;
  text-decoration: none;
}

h1 {
  font-style: normal;
  font-family: "Karla", sans-serif;
  margin: 30px;
}

h2 {
  font-style: normal;
  font-family: "Karla", sans-serif;
  margin: 30px;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  color: gray;
  font-weight: lighter;
  font-size: 16px;
  display: block;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  margin: auto;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
}

div {
  display: block;
}

img {
  display: block;
}

img:hover{
  opacity: 0.5;
  /*transform: scale(1.1);*/
  /*transition: all .2s ease-in-out;*/
}


#portrait-container img {
  background-size: cover;
  float: left;
  margin: 50px 0px 50px 150px;
}

#extra-stuff>div {
  width: 50%;
  display: inline;
}

#extra-stuff {
  overflow-y: hidden;
  width: 80%;
  display: block;
  margin: 24px auto 0;
}

#extra-stuff li {
  list-style-type: none;
}

header {
  width: 100%;
  margin-top:50px;
  margin-bottom: 50px;
}

.media-img {
  width: 80%;
  margin: 0 0 0 0px;
}

.middle {
  margin-left:0px;
  margin-right:600px;
}
.row {
  margin: 0 0 0 150px;
}

.project-details {
  color: rgba(255,255,255,1);
  /*background: black;*/
  opacity: 0.9;
  filter: alpha(opacity=50);
  padding: 40px 0px 0px 40px;
  line-height: 16px;
  /*text-align: center;*/
  position: absolute;
  margin: 0 0 0 0px;
  width: 80px;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

#home {
  margin: 0;
  width: 100%;
}

header {
  min-width: 400px;
  display: block;
}

article, aside, footer, header, hgroup, main, nav, section {
  display: block;
}

#case-study {
    display: block;
    margin:0 auto;
    overflow: hidden;
    width: 100%;
}

img#image:hover {
  opacity: 0.5;
}

.background{
  background-color: black;
}

nav, footer {
  font-style: normal;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  margin:30px;
}

html, body {
  font-family: "Karla", sans-serif;
  color: rgb(66,63,63);
  margin: 0;
  padding: 0;
  height: 100%;
}

div.hero {
  background-size: cover;
  height: 1px;
  width: auto;
  margin: 0 auto;
  background-color: #D3D3D3;
}

div.hero:hover {
  background-color: indigo;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

div.hero-ii {
  background-size: cover;
  height: 1px;
  width: auto;
  margin: 0 auto;
  background-color: blue;
  float:inherit;
}

div.hero-ii:hover {
  background-color: red;
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

div.background {
  vertical-align: middle;
  width: 50%;
  float: left;
}

#home, header {
  min-width: 40px;
  display: block;
}

a.#name {
  font-weight: bold;
}

.left {
  float: left;
}

.right {
  float: right;
}

.one-third {
  width: 14.333%;
  display: table-cell;
  font-family: "Karla", sans-serif;
  color: rgb(66,63,63);
}

element.style {
  position: absolute;
  left: 0px;
  top: 0px;
}

a.blog-index-wrapper {
  border: none;
}

a, a:visited {
  color: rgb(66,63,63);
  transition: all 250ms;
}

ul#about {
  margin: 0;
  border: 0;
}

.media-img-hero {
  width: 560px;
  height: auto;
}
.video {
  margin: 0 auto;
  height: auto;
}
.img-container {
  overflow: hidden;
  max-height: 300px;
}
