* {
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: rgb(66,63,63);
  border-bottom: 1px solid transparent;
}

/*a:-webkit-any-link {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}*/

h1 {
  font-style: normal;
  font-family: "Karla", sans-serif;
  margin: 30px;
}

h2 {
  font-style: normal;
  font-family: "Karla", sans-serif;
  margin: 30px;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  margin-bottom: 0;
}

h4 {
  margin-top: 0;
  color: gray;
  font-weight: lighter;
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

div {
  display: block;
}

#extra-stuff>div {
  width: 50%;
  display: inline;
}

#extra-stuff {
  overflow-y: hidden;
  width: 80%;
  display: block;
  margin: 200px auto 0;
}

#extra-stuff li {
  list-style-type: none;
}

/*p {
  font-style: normal;
  font-family: sans-serif;
  margin: 30px;
}*/

header {
  width: 75%;
  margin:50px auto 50px;
}

#home, header {
  min-width: 400px;
  display: block;
}

nav, footer {
  font-style: normal;
  font-family: "Karla", sans-serif;
  text-decoration: none;
  margin:30px;
}

html, body {
  font-family: "Karla", sans-serif;
  color: rgb(66,63,63);
  margin: 0;
  padding: 0;
  height: 100%;
}

/*div.hero {
  background-size: cover;
  height: 400px;
  background-color: black;
}*/

.left {
  float: left;
}

.right {
  float: right;
}

.one-third {
  width: 14.333%;
  display: table-cell;
  font-family: "Karla", sans-serif;
  color: rgb(66,63,63);
}

element.style {
  position: absolute;
  left: 0px;
  top: 0px;
}

.blog-index-wrapper {
  display: inline-block;
  width: 50%;
  float: left;
}

a.blog-index-wrapper {
  border: none;
}

a, a:visited {
  color: rgb(66,63,63);
  transition: all 250ms;
}
